.projects {
    display: flex;
    justify-content: center;
}

.center {
    max-width: 1040px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}



.projects .header {
    text-align: center;
}

.projects .header p {
    font: var(--text-lg);
    color: var(--red);

    margin-block-end: 8px;
}



.projects .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}


.projects .grid .projectcard {
    max-width: 330px;
    max-height: 280px;

    background-color: var(--gray-300);
    padding: 12px;
    border-radius: 12px;
}